.signage {
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    text-shadow: red 2px 2px;
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-decoration: underline;
    font-style: oblique;
    font-size: 36px;
}
body {
    
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1587453711536-04fa854f970c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    
    
}
.search-bar {
    width: 300px;
    box-shadow: 1px 2px 1px 2px;
    height: 5px;
    padding: 10px;
}
#search {
    border-radius: 3px;
    padding-left: 5px;
    box-shadow: red 1px 1px 1px 1px;
    width: 55px;
    height: 30px;
    
}
.resultsDiv {
    text-align: center;
    font-size: 32px;
    color: yellow;
    padding: 20px;
    
}
.cityh1El {
   text-align: center;
   color: red;

}
.windDiv {
    text-align: center;
    color: yellow;
    font-size: 32px;
    padding: 20px;
}
.humidityDiv {
    text-align: center;
    color: yellow;
    font-size: 32px;
    padding: 20px;
}
.fiveDayDiv {
    position: relative;
    float: right;
    color: yellow;
    
}